
<div class="container" >
        <div class="col-md-8">   
    
        <h2 >Add Employee <span my-current-time></span> </h2> 
    
            <form name="ctrl.addform" ng-submit="ctrl.addform.$valid && ctrl.addNewEmployee()" novalidate>
    
                <!-- FIRST NAME -->
                
      
                <div class="form-group">
                    <label for="name">First Name</label>
                    <div class="col-sm-4-md-4-lg-4">
                    <input id="first_name" name="first_name" type="text" placeholder="John" class="form-control" ng-model="ctrl.employee.first_name" required /> 
                              
                    <div class="validation" data-ng-show="ctrl.addform.first_name.$touched || ctrl.addform.$submitted">
                    <div data-ng-show="ctrl.addform.first_name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>First name is required
                    </div>
                    </div>
                </div>
                </div>
         
           
           
                <!-- LAST NAME -->
           
                <div class="form-group">
                    <label for="name">Last Name</label>
                    <input id="last_name" name="last_name" type="text" placeholder="Doe" class="form-control" ng-model="ctrl.employee.last_name" required /> 
                                  
                    <div class="validation" data-ng-show="ctrl.addform.last_name.$touched || ctrl.addform.$submitted">
                        <div data-ng-show="ctrl.addform.last_name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Last name is required
                        </div>
                    </div>
                    </div>
               
                <!-- GENDER -->
                <div class="form-group">
                    <label for="gender">Gender</label><br>
                    <input id="gender" name="gender" type="radio" ng-model="ctrl.employee.gender" value="M" required/> &nbsp; Male <br>
                    <input id="gender" name="gender" type="radio" ng-model="ctrl.employee.gender" value="F" required/> &nbsp; Female 
                                  
                    <div class="validation" data-ng-show="ctrl.addform.gender.$touched || ctrl.addform.$submitted">
                    <div data-ng-show="ctrl.addform.gender.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Gender is required
                    </div>
                    </div>
                </div>
    
                <!-- BIRTH DATE -->
                <div class="form-group">
                    <label for="birth_date">Birth Date</label><br>
    
                    <div class="input-group">
                            
                            <span class="input-group-btn">
                                <input type="date" name="birth_date" class="form-control" ng-model="ctrl.employee.birth_date" required/>
                            </span>
                    </div>
      
                    <div class="validation" data-ng-show="ctrl.addform.birth_date.$touched || ctrl.addform.$submitted">
                    <div data-ng-show="ctrl.addform.birth_date.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Birth date is required
                    </div>
                    </div>
                </div>
    
                <!-- HIRE DATE -->
                <div class="form-group">
                    <label for="hire_date">Hire Date</label><br>
    
                    <div class="input-group">
                            
                            <span class="input-group-btn">
                                <input type="date" name="hire_date" class="form-control" ng-model="ctrl.employee.hire_date" required/>
                            </span>
                    </div>
                                  
                    <div class="validation" data-ng-show="ctrl.addform.hire_date.$touched || ctrl.addform.$submitted">
                    <div data-ng-show="ctrl.addform.hire_date.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Hire date is required
                    </div>
                    </div>
                </div>

                <!-- PHOTO URL -->
                <div class="form-group">
                        <label for="name">Photo URL</label>
                        <div class="col-sm-4-md-4-lg-4">                                               
                        <input id="photourl" name="photourl" type="text" class="form-control" ng-model="ctrl.employee.photourl" />
                        <!-- ng-model to match database naming 'photourl' --> 
                    </div>
                    </div>
    
                <!-- SUBMIT -->
                
                    <input id="submit" name"submit" type="submit" class="btn btn-success" value="Add"/>
                    {{ ctrl.status.message }}
          
            </form>
    
        </div> 
    
    </div>