
<div class="container">
        <div class="col-md-8">   
    
        <h2>Delete Employee</h2>
    
        <p>Are you sure you want to delete {{ctrl.employee.first_name }} {{ctrl.employee.last_name}}?&nbsp;&nbsp;

        <button id="delete" name"delete" ng-click="ctrl.deactivateEmployee()" class="btn btn-danger" >Delete</button>
    
        </p>
       
     
    
    </div>