
<div class="container">
    <div class="col-md-8">   

    <h2>Edit Employee</h2>

        <form name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.saveEmployee()" novalidate>

            <!-- FIRST NAME -->
            
           
            <div class="form-group">
                <label for="name">First Name</label>
                <div class="col-sm-4-md-4-lg-4">
                <input id="first_name" name="first_name" type="text" placeholder="John" class="form-control" ng-model="ctrl.employee.first_name" required /> 
                          
                <div class="validation" data-ng-show="ctrl.registrationform.first_name.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.first_name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>First name is required
                </div>
                </div>
            </div>
            </div>
     
       
       
            <!-- LAST NAME -->
       
            <div class="form-group">
                <label for="name">Last Name</label>
                <input id="last_name" name="last_name" type="text" placeholder="Doe" class="form-control" ng-model="ctrl.employee.last_name" required /> 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.last_name.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.last_name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Last name is required
                    </div>
                </div>
                </div>
           
            <!-- GENDER -->
            <div class="form-group">
                <label for="gender">Gender</label><br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.employee.gender" value="M" required/> &nbsp; Male <br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.employee.gender" value="F" required/> &nbsp; Female 
                              
                <div class="validation" data-ng-show="ctrl.registrationform.gender.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.gender.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Gender is required
                </div>
                </div>
            </div>

            <!-- BIRTH DATE -->
            <div class="form-group">
                <label for="gender">Birth Date</label><br>

                <div class="input-group">
                        <input type="text" class="form-control" ng-model="ctrl.employee.birth_date" required/>
                        <span class="input-group-btn">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-primary" ng-click="">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </a>
                            </div>
                        </span>
                </div>
  
                <div class="validation" data-ng-show="ctrl.registrationform.birth_date.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.birth_date.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Birth date is required
                </div>
                </div>
            </div>

            <!-- HIRE DATE -->
            <div class="form-group">
                <label for="gender">Hire Date</label><br>

                <div class="input-group">
                        <input type="text" class="form-control" ng-model="ctrl.employee.hire_date" required/>
                        <span class="input-group-btn">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-primary" ng-click="">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </a>
                            </div>
                        </span>
                </div>
                              
                <div class="validation" data-ng-show="ctrl.registrationform.hire_date.$touched || ctrl.registrationform.$submitted">
                <div data-ng-show="ctrl.registrationform.hire_date.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Hire date is required
                </div>
                </div>
            </div>

            <!-- SUBMIT -->

            <div class="form-group">
                <input id="submit" name"submit" type="submit" class="btn btn-success" value="Save"/>
            </div>

        </form>

    </div> 

</div>