<html>
<body ng-cloak ng-controller="EmployeeController as ctrl">
                                           <!-- directive must be lowercase and dash -->
                                           <!-- OR to format clock, my-current-time="ctrl.format" -->
            <h1>Employee Management System <span my-current-time></span> </h1>

        
            <div class="jumbotron">
                <form name="ctrl.searchForm" ng-submit="ctrl.searchEmployees()">
        
                   
                    <div class="keyword col-sm-12 col-md-4 col-lg-4">
                        <!-- SEARCH. (1) through searchEmployees() calls to controller.js passing searchKeyword  -->
                        <input type="text" name="keyword" id="keyword" ng-model="ctrl.searchKeyword" placeholder="Employee Name" class="form-control"/>
                    </div> 
        
                        <button type="submit" class="btn btn-primary">Search</button> <!-- GET --> 
                        <!--  <button type="button" ng-click="ctrl.addEmployee('lg')" class="btn btn-primary">Add</button> POST --> 
                        <div class="col-sm-2 col-md-2 col-lg-2">
                        <select ng-model="ctrl.orderby" class="form-control">
                            <option value="" disabled selected>Sort by</option>
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                        </div>
        
                </form>
            </div>
        
            <div class="list" ng-show="ctrl.employees">
        
                <!-- PAGINATION -->
                    <div class="row" ng-show="ctrl.employees.length > 0">
                        <div class="list header col-lg-12 col-md-12 col-sm-12">
                                <ul uib-pagination total-items="ctrl.totalItems" max-size="ctrl.maxsize" items-per-page="ctrl.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="ctrl.currentPage" num-pages="numPages" ng-change="ctrl.pageChanged()"></ul>
                        </div>
        
                    </div>
        
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3 employee" ng-repeat="employee in ctrl.employees">
        
                        <h4><a class="thumbnail"><img class="img-circle" src="{{employee.photourl}}"></a></h4>
                        <h4><label>First Name:</label> {{employee.first_name}}</h4>
                        <h4><label>Last Name:</label> {{employee.last_name}}</h4>
                        <h4><label>Gender:</label> {{employee.gender | customGender}}</h4>
                        <h4><label>Birth Date:</label> {{employee.birth_date}}</h4>
                        <h4><label>Hire Date:</label> {{employee.hire_date}}</h4>
        
                        <button type="button" ng-click="ctrl.editEmployee(employee.emp_no, 'lg')" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        <button type="button" ng-click="ctrl.deactivateEmployee(employee.emp_no, 'lg')" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        
                    </div>
                </div>
            </div>
</html>