h1 {
    margin-left: 15px;
}

h2 {
    text-align: left;
}

.nav-text {
    margin-right: 20px;
    font-size: 80%;
}

.row {  
    margin-left: 200px;
 }  

 .employee {
    border-style: solid;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-color: grey;
 }

 .thumbnail {
    border-style: none;
 }
 
 .img-circle {
    border-radius: 50%;
 }

 p {
     text-align: center; 
     color: #ff0000;
 }


 .navbar {
    background-color: transparent;
    background: transparent;
  }


